/* 
	annotation Name : memberFix css
    User: KJS
    Date: 2023-08-15
    Time: 오후 6:48
*/
.second_wrap {
    position: absolute;
    top: 0; /* 기존에는 top: 50%; 로 설정되어 있었습니다. */
    bottom: 0; /* 아래로 확장하도록 설정 */
    left: 50%;
    transform: translate(-50%, 0);
}
 
.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:1500px;
}

/*  pagebox */
.pagebox{
    width:300px;
    text-align: center;
    margin: 20px 0;
}

/* member_table */


.InfoTable {
    border-collapse: collapse; /* 경계선이 겹치지 않도록 설정 */
    width: 100%;
    margin: 20px 0;
}

.InfoTable th,td {
    border: 1px solid lightgray; /* 셀 경계선 스타일 지정 */
    padding: 8px; /* 셀 안의 여백 설정 */
    text-align: left;
}

.InfoTable th {
    width: 700px;
    text-align: center;
}

.InfoTable th input {
    display: flex;
    justify-content: center;
}

.curpw, .chgpw, .chkpw, .curadd, .chgadd, .curphoneNo, .chgphoneNo{
    display: flex;
    padding: 10px;
    width: 800px;
}

/* "input" 요소에 적용할 스타일 */
 input[type="text"] {
    border: 1px solid gray;
    width: 100%; /* 너비 조정 */
    margin-left: 20px;
    padding: 10px;
    text-align: center;
}

input[type="password"] {
    border: 1px solid gray;
    width: 100%; /* 너비 조정 */
    margin-left: 20px;
    padding: 10px;
    text-align: center;
}

.view_box{
    border: 1px solid gray;
    width: 100%;
    margin-left: 20px;
    padding: 5px;
    text-align: center;
}

div[class*="info"] { 
    width: 500px;
    background-color: #E6E6FA;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 확인 */
.con_button {
    display: flex;
    justify-content: center;
}