/*
  annotation Name : paymentPage Css
  User: MHJ
  Date: 2023-08-12
  Time: 오후 5:55
*/

.table {
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}

.InfoTable {
    border-collapse: collapse; /* 경계선이 겹치지 않도록 설정 */
    width: 100%;
    margin: 10px 0 50px 0;
}

.InfoTable th,td {
    border: 1px solid black; /* 셀 경계선 스타일 지정 */
    padding: 8px; /* 셀 안의 여백 설정 */
    text-align: left;
}

.InfoTable th {
    width: 20%
}

#userInfoTable,#payIfoTable {
    height: 50px;
}

#buyInfoTable {
    height: 300px;
}

#buyInfoTable img{
    width: 100%;
    height: 100%;
}