/* 
  annotation Name : Login Css
  User: MHJ
  Date: 2023-08-13
  Time: 오후 8:00
*/

* {
	padding: 0;
	margin: 0;
	border: none;
}

html, body {
	height: 100%;
}

body {
	font-size: 14px;
}

.menu-wrapper {
	display: flex;
	justify-content: center;
	text-align: center;
}


.menuDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 400px;
	margin: 50px 20px;
	border: none;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	opacity: 0.8;
}

.menuDiv h1 {
	color: grey;
	background-color: white;
}

#userMenu {
	background-image: url("../image/customer.png");
}

#productMenu {
	background-image: url("../image/dairy-products.png");
}

#dataMenu {
	background-image: url("../image/line-chart.png");
}