/* 
  annotation Name : Login Css
  User: MHJ
  Date: 2023-08-13
  Time: 오후 8:00
*/

*{
    padding: 0;
    margin: 0;
    border: none;
} 

html,body {
	height: 100%;	
}

body{
    font-size: 14px;
}

.Menu-wrapper {
	display: flex;
	justify-content: center;
	text-align: center;
}

.MenuButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 800px;
	margin: 50px 10px;
	border: none;
	cursor: pointer;
}

#userMenu {
	background-image: url('button-background.jpg');
}

#productMenu {
 	background-image: url('button-background.jpg');	
}

#dataMenu {
	background-image: url('button-background.jpg');
}