
.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page_info{
    width:300px;
    text-align: center;
    border: 2px solid purple;
}

.check_id, .check_pw{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    width: 200px;
    height: 50px;
    background-color: #E6E6FA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view_id, input[type="password"]{
    width:500px;
    height: 50px;
    border: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-group{
    display: flex;
    justify-content: center;
}

.button{
width: 10%;
height: 50px;
margin: 30px;
border-radius: 6px;
}