/* 
   annotation Name : memberFix css
    User: KJS
    Date: 2023-08-15
    Time: 오후 6:48
*/

.second_wrap {
   	padding: 0;
   	margin: 0;
   	display: flex;
   	justify-content: center;
}

.wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*  pagebox */
.pagebox{
    width:300px;
    text-align: center;
    margin: 20px 0;
}

/* member_table */

.InfoTable {
    border-collapse: collapse; /* 경계선이 겹치지 않도록 설정 */
    margin: 20px 0;
}

.InfoTable th,td {
    border: 1px solid lightgray; /* 셀 경계선 스타일 지정 */
    padding: 8px; /* 셀 안의 여백 설정 */
    text-align: left;
}

.InfoTable th {
   	width: 100px;
    text-align: center;
}

.InfoTable th input {
    display: flex;
    justify-content: center;
}

.radioField {
	text-align: center;
	width: 30px;
}

.numField {
	width: 30px;
}

.infoField {
   	width: 300px;
    text-align: center;
}

.curpw, .chgpw, .chkpw, .curadd, .chgadd, .curphoneNo, .chgphoneNo{
    display: flex;
    padding: 10px;
    width: 800px;
}

/* "input" 요소에 적용할 스타일 */
 input[type="text"] {
    border: 1px solid gray;
    width: 100%; /* 너비 조정 */
    margin-left: 20px;
    padding: 10px;
    text-align: center;
}

input[type="radio"] {
    display: inline-block; /* 라디오 버튼을 가로로 나란히 배치 */
    vertical-align: middle; /* 라디오 버튼을 수직 가운데로 정렬 */
 }

.view_box{
    border: 1px solid gray;
    width: 100%;
    margin-left: 20px;
    padding: 5px;
    text-align: center;
}

div[class*="info"] { 
    width: 500px;
    background-color: #E6E6FA;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 확인 */
.confirmButton_div {
	margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#editButton {
	width: 150px;
	height: 50px;
}

#categorySelect {
	width: 100%; /* 너비 조정 */
	height: 36.67px;
    margin-left: 20px;
    padding: 10px;
    text-align: center;
}

.mainCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mainSide {
	display: flex;
	justify-content: center;
	margin: 0;
}

.managerEdit-item {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
	color: grey;
	text-decoration: none;
	margin: 10px;
}

