body {
    margin: 0;
    padding: 0;
}

/* main Css */
#main {
    display: flex;
    align-items: flex-start;
}

/* mainSide Css */
.mainSide {
    flex: 0 0 10%; /* 왼쪽 사이드바의 너비 */
    padding: 20px;
    border: 5px solid #b7b7fe; 
    margin: 20px 0px 20px 5px;    /* nav와 main side의 마진 */
}

.managerEdit-item {
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 30px;
}

.managerEdit-item:hover {
    color: royalblue; /* 링크에 마우스를 올렸을 때 색상 변경 */
}

/* mainCenter Css */
.mainCenter {
    flex: 1; /* 가운데 영역의 너비 */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.editBox {
    display: flex;
    width: auto;    
    border: 2px solid black;
    margin: 30px;
    float: left;
}

.editBox > b {
    padding: 5px;
    font-size: 25px;
}

.search-box {
    margin: auto;
}