/*
  annotation Name : paymentPage css
  User: MHJ
  Date: 2023-08-12
  Time: 오후 5:55
*/

.table {
    width: 800px; /* 내용의 너비를 고정합니다 */
   	margin: 30px auto; /* 가운데 정렬합니다 */
}

.InfoTable {
    border-collapse: collapse; /* 경계선이 겹치지 않도록 설정 */
    width: 100%;
    margin: 20px 0;
}

.InfoTable th,td {
    border: 1px solid lightgray; /* 셀 경계선 스타일 지정 */
    padding: 8px; /* 셀 안의 여백 설정 */
    text-align: left;
}

.InfoTable th {
    width: 15%;
    text-align: center;
}

.infoTitle {
}

#userInfoTable tr,#payInfoTable tr {
	text-align: center;
    height: 50px;
}

#buyInfoTable tr {
	width: 150px;
    height:150px;
}

#buyInfoTable img{
    width: 50%;
    height: 80%;
}

#payButton{
	display: flex;
	justify-content: center;
	align-items: center;
}