.second_wrap{
    display:flex;
    justify-content: center;
}

/*  페이지정보 */
.cart_font{
    width: 200px;
    text-align: center;
    margin: 10px;
}

/* 페이지 링크 박스 */
.allbox {
    text-align: center;
    width:200px;
    height:500px;
    float:left;
    margin-top: 50px;
}

div[class*="my_"]{
    height:150px;
    border: 1px solid purple;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
}

/* 메인(cart_list) */

.option_box{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.delete_submit{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
 }

.catr_list{
    margin: 40px 10px;
}

.cart_box{
    width: 1000px; 
    overflow: auto; /* 내용이 넘칠 경우 스크롤바 추가 */
}

table {
    border-collapse: collapse;
    border: none;
}

tr{
    border-top: 1px solid lightgray;;
    border-bottom: 1px solid lightgray;
    width: 500px;
}

td {    
    width: 300px;
    height: 110px;
    border: none;

}

th{
    width: 30px;
}

#quantity_input {
width: 30px;
height: 30px;
font-size: 14px;
text-align: center;
}

.quantity_button {
width: 35px;
height: 35px;
font-size: 14px;
background-color: #f0f0f0;
border: none;
cursor: pointer;
}

.buy_button{
    display: flex;
    justify-content: center;
}

