/* 
   annotation Name : myPage css
    User: KJS
    Date: 2023-08-15
    Time: 오후 6:45
*/

.secondWrap{
   margin: 20px 0;
   width: 100%;
   padding:0;
   display: flex;
   justify-content: center;
}

.wrap{
   margin:0;
    padding:0;
}

.myBox { 
   padding: 0;
   text-align:center; 
}

.orderBox { line-height:40px; }

/* 나의 정보(my info) */
.myInfoBar{
    display: flex;
    height: 50px;
    margin-top: 10px;
}

.myInfoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: center;
    border: 1px solid purple;
    background-color: #E6E6FA;
    margin-right: 10px;
}

.myPoint{
    display: flex;
    align-items: center;
    width: 800px;
    padding-left: 10px;
    border: 1px solid purple;
}

/* mypage box div */

.myBox {
    text-align: center;   
    width:200px;
    height:490px;
}

.myMenu {
   height: 150px;
}

#myShop{
    height:150px;
    border: 1px solid purple;
    margin-bottom: 20px;
}

#myAct{
    height:150px;
    border: 1px solid purple;
    margin-bottom: 20px;
}

#myInfo{
    height:150px;
    border: 1px solid purple;
}

.orderBox{
    width: 800px;
    text-align: left;
    padding-left: 20px;
}

a{
    text-decoration: none;
    color: black;
}

/* 메인-order_search */

h3{
   padding: 0;
    margin-top: 0px;
    margin-bottom:0px;
}

.InfoTable {
    border-collapse: collapse; /* 경계선이 겹치지 않도록 설정 */
    width: 100%;
    margin: 10px 0;
}

.InfoTable th,td {
    border: 1px solid lightgray; /* 셀 경계선 스타일 지정 */
    padding: 8px; /* 셀 안의 여백 설정 */
    text-align: center;
}

.InfoTable th {
    width: 15%;
    text-align: center;
}

.returnButton {
background-color: #E6E6FA;
color: purple;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

.test {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* 메인(cart_list) */

.option_box, .total {
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

.delete_submit {
	display: flex;
	justify-content: flex-end;
	margin: 10px;
}

.cart_list {
   margin-left: 50px;
}

.cart_box {
   width: 700px;
   overflow: auto; /* 내용이 넘칠 경우 스크롤바 추가 */
}

.all_checkbox {
   float: left;
   margin-top: 50px 0;
   padding: 0 1px;
}

table {
	border-collapse: collapse;
	border: none;
}

tr {
	border-top: 1px solid lightgray;;
	border-bottom: 1px solid lightgray;
	width: 500px;
}

td {
	width: 150px;
	height: 110px;
	border: none;
}

th {
	width: 30px;
}

#quantity_input {
   width: 30px;
   height: 30px;
   font-size: 14px;
   text-align: center;
}

.quantity_button {
	width: 35px;
	height: 35px;
	font-size: 14px;
	background-color: #f0f0f0;
	border: none;
	cursor: pointer;
}

.buy_submit {
   display: flex;
   justify-content: center;
   align-items: center;
}

.cartProduct {
	margin-right: 20px;
}

.listBox {
	margin: 0;
	padding: 0;
}

.selectAll {
	margin-right: 8px;
}

.wrapBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

button {
	width:80px;
	height: 30px;
}

.total {
   margin: 0;
   width: 600px;
   text-align: right;
}

#orderButton {
	width: 100px;
	padding: 5px;
	margin: 30px;
	border: none;
}
